<div>
    <div class="row">
        <div class="col">
            <h1>About Us!</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Exercitationem unde neque necessitatibus animi sed omnis est modi.
                 Fugiat itaque ut dolores odit natus obcaecati maxime, architecto cupiditate 
                 laboriosam, aspernatur doloribus?</p>
        </div>
        <div class="col">
            <h2>Meet the team</h2>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>
    <hr>
    <div class="row">
        <h3>Contact Us</h3>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
</div>
