<div style="margin-top: 2cm;">
    <div class="row">
        <div class="col" style="font-family: 'Poppins', sans-serif; color: wheat; text-align: center;">
            <h1 style="font-size: 2cm; font-weight: 200px;">About Us!</h1>
            <hr>
            <p style="margin-top: 1cm;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 

            </p>
            <p>
                Exercitationem unde neque necessitatibus animi sed omnis est modi.
            </p>
            <p>
                 Fugiat itaque ut dolores odit natus obcaecati maxime, architecto cupiditate 
                 laboriosam, aspernatur doloribus?</p>
        </div>
        <div class="col">
            <h2 style="color: wheat; font-family: 'Poppins', sans-serif; text-align: center; font-size: 1.5cm; font-weight: bolder;">BE PART OF THE TEAM</h2>
            <img src="assets/45595d89842e706ba79e57.jpg" alt="" style="margin-left: 25%;">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <p><i class="fa fa-facebook-official" aria-hidden="true"></i> : Facebook:  @quotes.com</p>
            <hr>
            <p> 
                <i class="fa fa-instagram" aria-hidden="true"></i> : Instagram: @quotes.com</p>
            <hr>
            <p> <i class="fa fa-twitter-square" aria-hidden="true"></i> : Twitter: @quotes.com</p>
            <hr>
            <p> <i class="fa fa-address-book" aria-hidden="true"></i>
                : Call Us : 08-00000000</p>
        </div>
    </div>
</div>
