<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <form class="d-flex container-fluid">
            <input class="form-control me-2" type="search" placeholder="Search by your username on Github" [(ngModel)]="username" (keyup)="search()" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
      </div>
  </nav>
</div>


<div class="container" *ngIf="user">
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
         <h3>{{user.name}}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                  <img class="github-avatar img-thumbnail" src="{{user.avatar_url}}" alt="">
                </div>
                <div class="col">
                  <div class="stats">
                    <span class="label label-primary" >{{user.pulic_repos}} Public Repositories </span>
                    <span   class="label label-success">{{user.public_gists}} Public Gists</span>
                    <span class="label label-info"> {{user.followers}} Followers</span>
                    <span class="label label-warning">{{user.following}} Following </span>
                  </div>
                  <ul class="list-group">
                    <li class="list-group-items"><strong>Username:</strong> {{user.login}} </li>
                    <li class="list-group-items"><strong>Location:</strong>{{user.location}}</li>
                    <li class="list-group-items"><strong>Email:</strong>{{user.email}}</li>
                    <li class="list-group-items"><strong>Blog:</strong>{{user.blog}}</li>
                    <li class="list-group-items"><strong>Member Since:</strong>{{user.created_at}}</li>
                  </ul>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <div class="card text-center">
          <div class="card-header">
            {{user.name}}'s Repositories
          </div>
          <div class="card-body">
            <div *ngFor="let repo of repos">
              <div class="row">
                <div class="col">
                  <h4><a href="{{repo.html}}" target="_blank">{{repo.name}}</a></h4>
                  <p>{{repo.description}}</p>
                </div>
                <div class="col">
                  <span class="label label-primary">{{repo.watchers}} Watchers</span>
                  <span class="label label-primary">{{user.forks}} Forks</span>
                </div>
                </div>
              </div>
      
            </div>
            
        </div>
      </div>
    </div>
  </div>
</div>