<div class="container">
  <div class="row">
    <div class="col">
      <!-- <div *ngIf="user"> -->
        <!-- <h1>{{ user.name}}</h1> -->
        <div class="container">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Recipient's email" aria-label="Recipient's email" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
              </div>
    
              <div style="margin-left: 50%;">
                <button type="button" class="btn btn-dark" style="text-align: center; width: 3cm;">Dark</button> 
              </div>
        </div>
        