<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- <div class="container"> -->
        <div class="information">
            <div class="row">
                <div class="col">
                   <p style="font-family: 'Poppins', sans-serif; color: wheat;"> 
                    GitHub is a for-profit company that offers a cloud-based Git repository 
                    hosting service. Essentially, it makes it a lot easier for individuals and
                    teams to use Git for version control and collaboration </p>
                    <hr style="color: wheat; font-weight: 700;">
                    <p style="color: wheat; font-family: 'Poppins', sans-serif;">
                        GitHub’s interface is user-friendly enough so even novice coders can take 
                        advantage of Git. Without GitHub, using Git generally requires a bit more 
                        technical savvy and use of the command line. 
                    </p>
                    <hr style="color: wheat; font-weight: 700;">
                    <p style="color: wheat; font-family: 'Poppins', sans-serif;">
                        GitHub is so user-friendly, though, that some people even use GitHub to 
                        manage other types of projects – like writing books.
                        <br>
                        Additionally, anyone can sign up and host a public code repository for free,
                         which makes GitHub especially popular with open-source projects. 
                    </p>
                    <hr style="color: wheat; font-weight: 700;">
                    <p style="color: wheat; font-family: 'Poppins', sans-serif;">
                       Take a look and find yours! or your friend's! </p> 
                </div>

                <div class="col">
                    <video id="background-video" autoplay loop muted>
                        <source src="assets/globe-500.h264.mp4" type="video/mp4">
                      </video>
                </div>
            </div>
        </div>
    <!-- </div> -->
</body>
</html>
