<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- <div class="container"> -->
        <div class="information">
            <div class="row">
                <div class="col">
                   <p style="font-family: 'Poppins', sans-serif;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                       <br>
                       Corporis laboriosam obcaecati necessitatibus nulla doloribus eveniet. 
                       <br>
                       Quos possimus dicta, placeat sed similique culpa quidem vel libero, neque 
                       <br>
                       dolor quibusdam officia explicabo. </p> 
                       <br>
                </div>

                <div class="col">
                    <video id="background-video" autoplay loop muted>
                        <source src="assets/globe-500.h264.mp4" type="video/mp4">
                      </video>
                </div>
            </div>
        </div>
    <!-- </div> -->
</body>
</html>
